{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<script src="{% static 'js/bootstrap.js' %}"></script>

</head>
<body>

<!-- 	<div class="jumbotron text-center">
		<h5 class="test1">Django Application!</h5>
		
	</div> -->


	<div class="container">

		<div class="row">

			<div class="col-lg-3 text-success"></div>
			<div class="col-lg-6">
				{% if editItem %}
				<form action="" method="post">
					{% csrf_token %}
					<div class="mb-3 mt-3">
						<label for="email" class="form-label">Name:</label>
						<input type="text" class="form-control" id="email" placeholder="Enter Name" name="name" value="{{ editItem.name }}">
					</div>
					<div class="mb-3">
						<label for="pwd" class="form-label">Familly Name:</label>
						<input type="text" class="form-control" id="pwd" placeholder="Enter Familly Name" name="fname" value="{{ editItem.fname }}">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				{% else %}

				<form action="" method="post">
					{% csrf_token %}
					<div class="mb-3 mt-3">
						<label for="email" class="form-label">Name:</label>
						<input type="text" class="form-control" id="email" placeholder="Enter Name" name="name">
					</div>
					<div class="mb-3">
						<label for="pwd" class="form-label">Familly Name:</label>
						<input type="text" class="form-control" id="pwd" placeholder="Enter Familly Name" name="fname">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

				{% endif %}
				<hr/>

				<table class="table mt-3 table-border table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Familly Name</th>
							<th>Delete</th>
						</tr>
					</thead>

					<tbody>
						{% for st in studentList %}
						<tr>
							<td>{{ st.id }}</td>
							<td>{{ st.name }}</td>
							<td>{{ st.fname }}</td>
							<td><a href="delete/{{ st.id }}/">Delete</a></td>
							<td><a href="/edit/{{ st.id }}">Edit</a></td>
						</tr>
						{% endfor %}


					</tbody>
				</table>

			</div>
			<div class="col-lg-3 h3"></div>


		</div>






	</div>


</body>
</html>
